Package: wootylab-mmkeyboard
Name: MMKeyboard for iOS5
Depends: mobilesubstrate, firmware (>= 5.0), preferenceloader (>= 2.0.2)
Version: 1.0
Architecture: iphoneos-arm
Description: Zawgyi Keyboard for iOS-5
 Replace Czech keyboard with Zawgyi keyboard
depiction: http://wootylab.com/mmkeyboard/description.html
Homepage: http://wootylab.com/mmkeyboard
Maintainer: moeseth
Author: moeseth <cydia@wootylab.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/mmkeyboardpref.bundle/cydia_icon.png